.disease-card {
  background-color: rgba(255, 255, 255, 0.134);
  backdrop-filter: blur(50px);
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}

.disease-name {
  text-align: center;
  color: #fff;
  font-family: "Roboto";
  margin-top: 10px;
  font-size: 20px;
}
.button {
  border-radius: 8px;
  background-color: transparent;
  border-width: 0px;
  color: #d0d406;
}
.arrow {
  font-size: 12px;
  margin-left: 5px;
}
.autoshow {
  animation: autoshowanimation both;
  animation-timeline: view(70% 5%);
}
@keyframes autoshowanimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
