.disease-container {
  padding: 50px;
  background-image: linear-gradient(to bottom, #141e69, rgb(8, 8, 76));
  min-height: 100vh;
}

.Disease-heading {
  font-size: 60px;
  color: #fff;
  font-family: "Staatliches";
  text-align: center;
  margin-bottom: 50px;
}

.card-container {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.autoshow {
  animation: autoshowanimation both;
  animation-timeline: view(70% 5%);
}
@keyframes autoshowanimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
