.footer-section {
  background-color: black;
  padding: 20px;
}
.footer-image {
  width: 100px;
  border-radius: 50px;
  margin-top: 30px;
}
.footer-heading {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Merriweather";
}
.font_style {
  font-family: "Lobster";
  font-size: 40px;
}
.footer-sub-heading {
  color: rgb(133, 72, 72);
  font-family: "Lora";
  font-weight: 600;
  font-size: 16px;
}
.text-footer {
  color: rgb(176, 176, 176);
  list-style-type: none;
  padding: 0px;
  font-size: 18px;
  font-family: "Lora";
}
.footer_list_text {
  margin-top: 18px;
  margin-left: 10px;
}
.footer-icon-container {
  background-color: rgb(242, 237, 237);
  height: 60px;
  width: 60px;
  border-radius: 30px;
  padding-top: 16px;
  text-align: center;
}
.icon_size {
  font-size: 29px;
  color: rgb(3, 3, 3);
}
.fotter-bottom-cntr {
  background-color: black;
}
.footer-copyright-text {
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
}
.hr-line {
  color: #ffffff;
  border: solid 1px;
}
